* {
	margin: 5px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: black;
	color: white;
	box-sizing: border-box;
}

#header {
	display: flex;
}

#header h1,
#header p {
	margin-left: 300px;
	font-size: 29px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 10s steps(70, end);
	animation: animasi-ketik 10s steps(70, end);
}
@keyframes animasi-ketik {
	from {
		width: 0;
	}
}
@-webkit-keyframes animasi-ketik {
	from {
		width: 0;
	}
}

#icon-menu {
	display: none;
}
#menu ul {
	width: 98.5%;
	height: 50px;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3e394b;
	margin-right: 5px;
	box-shadow: 4px 4px 4px white;
	font-size: 24px;
}

#menu ul li {
	display: flex;
}
#menu ul li a {
	text-decoration: none;
	color: white;
	padding: 0.2em 0.6em;
}
#menu a:hover {
	background-color: white;
	color: #3e394b;
	padding: 0.2em 0.6em;
}

#bg img {
	width: 100%;
}

.main {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"experience educations"
		"skill skill2"
		"interest interest"
		"awards awards"
		"portfolio portfolio"
		"about about"
		"footer footer";
}

.main ul li {
	list-style-type: none;
	padding: 40px;
}

.main h3,
#portfolio h3,
#awards h3,
#about h3 {
	text-align: center;
	color: #398677;
}

#experience,
#educations,
#skill,
#skill2,
#interest {
	border: 2px solid white;
	font-size: 26px;
	box-shadow: 4px 4px 4px #398677;
}

#experience {
	grid-area: experience;
}
#educations {
	grid-area: educations;
}

#skill {
	grid-area: skill;
}

#skill2 {
	grid-area: skill2;
}

#interest {
	grid-area: interest;
}

#interest ul li {
	border: solid 2px white;
	text-align: center;
}

#awards {
	border: 2px solid white;
	font-size: 26px;
	box-shadow: 4px 4px 4px #398677;
	text-align: center;
	margin-top: 20px;
	margin-left: 15px;
}

#awards img {
	width: 800px;
}

#portfolio {
	grid-area: portfolio;
	text-align: center;
	border: 2px solid white;
	font-size: 26px;
	box-shadow: 4px 4px 4px #398677;
	margin-top: 20px;
	margin-left: 15px;
}

#portfolio img {
	width: 600px;
}

#about {
	grid-area: about;
	font-size: 24px;
	color: white;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
	border: 2px solid white;
	box-shadow: 4px 4px 4px #398677;
}

#about a {
	font-size: 64px;
	text-decoration: none;
	color: white;
	margin: 0px;
	padding: 0px;
}

#about > a:hover {
	font-size: 64px;
	text-decoration: none;
	color: #398677;
	background-color: white;
	border-radius: 10px;
	margin: 0px;
	padding: 0px;
}

#footer {
	grid-area: footer;
	text-align: center;
	font-size: 24px;
	padding: 20px 0 20px 0;
	background-color: #3e394b;
}

@media only screen and (max-width: 768px) {
	#header h1,
	#header p {
		margin-left: 150px;
		font-size: 20px;
	}
	#awards img {
		width: 300px;
	}
	iframe {
		width: 400px;
		height: 300px;
	}
	#menu ul {
		font-size: 16px;
	}
	#experience,
	#educations,
	#skill,
	#skill2,
	#interest #awards,
	#portfolio,
	#about {
		border: 2px solid white;
		font-size: 20px;
		box-shadow: 4px 4px 4px #398677;
	}
}

@media only screen and (max-width: 425px) {
	#header h1,
	#header p {
		margin-left: 50px;
		font-size: 12px;
		width: 100%;
		margin-top: 10px;
	}
	#icon-menu {
		display: flex;
		font-size: 24px;
	}

	#menu ul {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 95%;
		height: auto;
	}
	#menu ul.hidden {
		display: none;
	}
	#portfolio img {
		width: 300px;
	}
	#about a {
		font-size: 32px;
		text-decoration: none;
		color: white;
		margin: 0px;
		padding: 0px;
	}
	#about > a:hover {
		font-size: 32px;
		text-decoration: none;
		color: #398677;
		background-color: white;
		border-radius: 10px;
		margin: 0px;
		padding: 0px;
	}
	iframe {
		width: 300px;
		height: 300px;
	}
	#experience,
	#educations,
	#skill,
	#skill2,
	#interest,
	#awards,
	#portfolio,
	#about {
		border: 2px solid white;
		font-size: 12px;
		box-shadow: 4px 4px 4px #398677;
	}
	.main ul li {
		list-style-type: none;
		padding: 5px;
	}
	#footer {
		grid-area: footer;
		text-align: center;
		font-size: 12px;
		padding: 10px 0 10px 0;
		background-color: #3e394b;
	}
	body {
		background-color: black;
		color: white;
		box-sizing: border-box;
	}
}
